.createCalendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createTitleWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.chooseColour {
  display: flex;
  align-items: center;
  gap: 16px;
}

.colourPickerWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.colourSub {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}

.save {
  display: flex;
  justify-content: end;
}
